<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title><%= current_page.data.title %></title>
  <meta name="description" content="<%= data.meta.meta_description %>">
  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= data.meta.meta_title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.pym-therapeute-tcc.fr" />
  <meta property="og:image" content="<%= data.meta.meta_image %>" />
  <meta property="og:description" content="<%= data.meta.meta_description %>" />
  <meta property="og:site_name" content="<%= data.meta.meta_title %>" />
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= data.meta.meta_title %>">
  <meta name="twitter:description" content="<%= data.meta.meta_description %>">
  <meta name="twitter:image:src" content="<%= data.meta.meta_image %>">
  <meta name="google-site-verification" content="LYMKeOI5ceQH7Pv6kscy5dEZL5mg8QURoc6GTjbIErQ" />
  <%= partial "layouts/shared/favicon" %>
  <%= stylesheet_link_tag "application" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
  <%= partial 'layouts/shared/navbar' %>
  <%= partial 'layouts/shared/sidebar' %>
  <%= yield %>
  <%= partial 'layouts/shared/details' %>
  <%= javascript_include_tag "bundle" %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVkcGlcZ3TgctLTrQSOgpKuz9WuTEeRCw&callback=initMap"></script>
</body>
</html>
