<div class="navbar-wagon">
  <!-- Logo -->
  <% link_to '/', class: "navbar-wagon-brand" do %>
    <%= image_tag "pym-full-blue.jpg" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Links when logged in -->
    <%= link_to "Accueil", '/index.html', class: "navbar-wagon-item navbar-wagon-link tab" %>
    <%= link_to "Profil", 'profil.html', class: "navbar-wagon-item navbar-wagon-link tab" %>
    <%= link_to "Contact",'/contact.html', class: "navbar-wagon-item navbar-wagon-link tab" %>
  </div>


  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <button class="fa fa-bars dropdown-toggle menu" data-toggle="dropdown" aria-expanded="false" id="dropdownMenu1"></button>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
          <%= link_to "Thérapie individuelle", '/therapie.html', class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li>
          <%= link_to "Intervention extérieure", '/intervenant.html', class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li>
          <%= link_to "La TCCE", '/tcce.html', class: "navbar-wagon-item navbar-wagon-link" %>
          <hr>
        <li><%= link_to "Profil", '/profil.html', class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to "Contact", '/contact.html', class: "navbar-wagon-item navbar-wagon-link" %></li>
        </li>
      </ul>
    </div>
  </div>
</div>
